@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.limenu:after {
    content: "";
    display: flex;
    height: 6px;
    width: 0;
    margin-top: 15px;
    background: transparent;
    transition: all 0.3s;
    
  }
  
  .limenu:hover::after, .limenu > .limenu.active-nav::after {
    width: 100%;
    background-image: linear-gradient(to right, #4ade80 , #0d9488);
  }

  .mobilemenu{
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.3);

  }